include *.rst
include *.md
include *.txt
include *.cfg
include *.mk
include setup.json
exclude project.pp1.yaml
exclude Makefile
prune .circleci
exclude .gitignore
exclude .bumpversion.cfg
exclude .pre-commit-config.yaml
prune attic 
prune src/decent_params_tests
prune src/quickapp_tests
exclude README.rst
exclude .coveragerc
exclude MANIFEST.in
exclude .compmake_history.txt
exclude .compmake.rc
prune docs